@model IList<Looking4Group.Models.Question>
@using Microsoft.AspNetCore.Http;

<div class="centerLarge">
    @{ 
        int state = 0;
        byte[] outValTest;
        if(Context.Session.TryGetValue("State", out outValTest))
        {
            state = BitConverter.ToInt32(outValTest, 0);
        } 
    }
    @if (state == 0)
    {
        <h3>Thanks for registering! Before you being please fill out this quick survey so that we can better match you with groups/games.</h3>
        <form asp-action="Questions">
            <input type="submit" value="Begin" class="btn btn-default" />
        </form>
    }
    else if (state == 1)
    {
        <h1>Question 1 of 4</h1>
        <h4>@Html.DisplayFor(modelItem => Model[0].Title)</h4>
        <form asp-action="Questions">
            <input type="radio" name="answer" value="0" />@Model[0].Answer1<br />
            <input type="radio" name="answer" value="1" />@Model[0].Answer2<br />
            <input type="radio" name="answer" value="2" />@Model[0].Answer3<br />
            <input type="radio" name="answer" value="3" />@Model[0].Answer4<br />
            <input type="submit" value="Next" class="btn btn-default" />
        </form>
    }
    else if (state == 2)
    {
        <h1>Question 2 of 4</h1>
        <h4>@Html.DisplayFor(modelItem => Model[1].Title)</h4>
        <form asp-action="Questions">
            <input type="radio" name="answer" value="0" />@Model[1].Answer1<br />
            <input type="radio" name="answer" value="1" />@Model[1].Answer2<br />
            <input type="radio" name="answer" value="2" />@Model[1].Answer3<br />
            <input type="radio" name="answer" value="3" />@Model[1].Answer4<br />
            <input type="submit" value="Next" class="btn btn-default" />
        </form>
    }
    else if (state == 3)
    {
        <h1>Question 3 of 4</h1>
        <h4>@Html.DisplayFor(modelItem => Model[2].Title)</h4>
        <form asp-action="Questions">
            <input type="radio" name="answer" value="0" />@Model[2].Answer1<br />
            <input type="radio" name="answer" value="1" />@Model[2].Answer2<br />
            <input type="radio" name="answer" value="2" />@Model[2].Answer3<br />
            <input type="radio" name="answer" value="3" />@Model[2].Answer4<br />
            <input type="submit" value="Next" class="btn btn-default" />
        </form>
    }
    else if (state == 4)
    {
        <h1>Question 4 of 4</h1>
        <h4>@Html.DisplayFor(modelItem => Model[3].Title)</h4>
        <form asp-action="Questions">
            <input type="radio" name="answer" value="0" />@Model[3].Answer1<br />
            <input type="radio" name="answer" value="1" />@Model[3].Answer2<br />
            <input type="radio" name="answer" value="2" />@Model[3].Answer3<br />
            <input type="radio" name="answer" value="3" />@Model[3].Answer4<br />
            <input type="submit" value="Next" class="btn btn-default" />
        </form>
    }
    else
    {
        <h3>Great! Now that we know a little bit about you can get started! Have fun!</h3>
        <form asp-action="Questions">
            <input type="submit" value="Find a Group" class="btn btn-default" asp-controller="GroupSearch" asp-action="Index"/> | <input type="submit" value="Find a Game" class="btn btn-default" asp-controller="GameSearch" asp-action="Index"/>
        </form>
    }
</div>
